<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JEE-Event-Manager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>fr.jee.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/auth/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>Login Servlet</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>fr.jee.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>DoLogin Servlet</description>
    <display-name>DoLogin</display-name>
    <servlet-name>DoLogin</servlet-name>
    <servlet-class>fr.jee.login.DoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLogin</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Register Servlet</description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>fr.jee.login.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>DoRegister Servlet</description>
    <display-name>DoRegister</display-name>
    <servlet-name>DoRegister</servlet-name>
    <servlet-class>fr.jee.login.DoRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegister</servlet-name>
    <url-pattern>/doRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewEvent</display-name>
    <servlet-name>NewEvent</servlet-name>
    <servlet-class>fr.jee.event.NewEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEvent</servlet-name>
    <url-pattern>/auth/NewEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionEvent</display-name>
    <servlet-name>InscriptionEvent</servlet-name>
    <servlet-class>fr.jee.event.InscriptionEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionEvent</servlet-name>
    <url-pattern>/InscriptionEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListEvent</display-name>
    <servlet-name>ListEvent</servlet-name>
    <servlet-class>fr.jee.event.ListEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEvent</servlet-name>
    <url-pattern>/auth/ListEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListParticipant</display-name>
    <servlet-name>ListParticipant</servlet-name>
    <servlet-class>fr.jee.event.ListParticipant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListParticipant</servlet-name>
    <url-pattern>/auth/ListParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Logout Servlet</description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>fr.jee.login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>